@charset "UTF-8";
* {margin: 0; padding: 0;}
body {
    font-family: Arial, sans-serif;
    background: rgba(248, 165, 69); 
} #page {
    width: 1050px;
    max-width: 100%;
    height: auto;
    background: rgb(46, 88,166);
    margin: 120px auto;
    box-shadow: 2px 3px 6px rgb(2,30,72);
} header {
    width: 928px;
    margin: 0 auto;
} header img {
    width: 100%;
} header h1 {
    font: 67pt/1.4em 'Unkempt';
    text-align: center;
    margin-top: 55px;
    text-shadow: 2px 3px 6px rgb(4, 23, 57);
    color: rgb(191, 222, 250);
    padding-top: 60px;
} main {
    width: 928px;
    max-width: 98%;
    height: auto;
    margin: 24px auto;
    display: grid;
    grid-template: repeat(2,auto) / repeat(2,auto);
    gap: 50px;
    padding: 24px 0 72px 0;
    justify-content: center;
} img {
    width: 384px;
    height: 280px;
    box-shadow: 2px 3px 6px rgb(4,28,61);
} img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
} @media only screen and (max-width: 750px) {
    #page {
        max-width: 98%;
        margin: 0 auto;
        height: auto;
    } main {
        width: 768px;
        max-width: 95%;
        height: auto;
        margin: 0 auto;
        grid-template: repeat(4,auto) / auto;
        justify-items: center;
    } img {
        width: 95vw;
        height: auto;
    } header {
        max-width: 100%;
    } header h1 {
        font: 64pt/1.6em 'Unkempt';
    }
}
